<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="static/theme/dist/img/user2-160x160.jpg" gravatar="passport.user.email" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info">
        <p ng-bind="passport.user.username"></p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>


    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <!-- Optionally, you can add icons to the links -->
      <li class="active"><a href="#/"><i class='fa fa-home'></i> <span>Dashboard</span></a></li>
      <li ng-repeat="item in menuItems"><a href="#{{item.url}}"><i class='fa {{item.iconClass}}'></i> <span>{{item.title}}</span></a></li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
