<section class="content-header">
  <h1>
    Profile
  </h1>
  <ol class="breadcrumb">
    <li><a href="#" translate><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Profile</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title"><img src="" gravatar="user.email" class="img-circle" alt=""> Profile</h3>
    </div>
    <div class="box-body">
      <form ng-submit="editProfile()">
        <div class="form-group">
          <label for="" translate>Username</label>
          <input type="text" ng-model="user.username" class="form-control">
        </div>
        <div class="form-group">
          <label for="" translate>Email</label>
          <input type="text" ng-model="user.email" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary" translate>Save</button>
      </form>

    </div><!-- /.box-body -->
  </div><!-- /.box -->


  <div class="box">
    <div class="box-header">
      <h3 translate>Widget</h3>
    </div>
    <div class="box-body">
      <h4 translate>New widget</h4>
      <select ng-model="newWidgets" ng-options="widget.plugin+'/'+widget.name for widget in pluginsWidgets">
      </select>
      <button class="btn" ng-click="addWidget()" translate>Add</button>
      <hr>
      <ul>
        <widgetconfig ng-repeat="widget in widgets track by $index" widget="widget">{{widget}}</widgetconfig>
      </ul>
    </div>
  </div>

</section><!-- /.content -->